@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 2px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: orange; /* orange-500 */
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #522f00; /* orange-600 */
}

.scrollable {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.scrollable::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}